<launch>
    <!-- 先启动底盘相关节点 -->
    <arg name="port_name" default="can0" />
    <arg name="simulated_robot" default="false" />

    <node name="tracer_base_node" pkg="tracer_base" type="tracer_base_node" output="screen">
        <param name="port_name" type="string" value="$(arg port_name)" />
        <param name="simulated_robot" type="bool" value="$(arg simulated_robot)" />

        <param name="odom_frame" type="string" value="odom" />
        <param name="base_frame" type="string" value="base_link" />

    </node>

    <!-- 再启动主控相关节点 -->
    <node pkg="master_pkg" type="task_manager_node" name="task_manager" output="screen" />
    <node pkg="master_pkg" type="delivery_node" name="delivery" output="screen" />
    <node pkg="ui_pkg" type="ui_node.py" name="ui" output="screen" />
    <node pkg="navigation_pkg" type="navigation_node" name="navigation" output="screen" />
</launch>
